app:
  baseUrl: ${BASE_URL}

backend:
  baseUrl: ${BASE_URL}
  listen: ':7007'

  database:
    client: pg
    connection:
      host: ${POSTGRES_HOST}
      port: ${POSTGRES_PORT}
      user: ${POSTGRES_USER}
      password: ${POSTGRES_PASSWORD}

integrations:
  gitlab:
    - host: gitlab.com
      token: ${GITLAB_TOKEN}
      apiBaseUrl: https://gitlab.com/api/v4
  github:
    - host: github.com
      token: ${GITHUB_TOKEN}
techdocs:
  builder: 'local'
  generator:
    runIn: 'local'
  publisher:
    type: 'local'

auth:
  providers:
    guest:
      dangerouslyAllowOutsideDevelopment: true

catalog:
  import:
    entityFilename: catalog-info.yaml
    pullRequestBranchName: backstage-integration
  rules:
    - allow: [Component, System, API, Resource, Location, Template]
  locations:
    - type: file
      target: ../../examples/entities.yaml

    - type: file
      target: ../../catalog-info.yaml
      rules:
        - allow: [Component]

    - type: url
      target: https://github.com/mysticrenji/backstage-gcp-goldenpath/blob/main/templates/genai-gitlab-blueprint/template.yaml
      rules:
        - allow: [Template]

permission:
  enabled: false
